body{
    margin: 0px;
   display: flex;
    justify-content: center;
    align-items: center;
    height:100vh ;
    background-color: black;
}
#calculator{
    border: 1px none;
    padding: 35px;
    width: 275px;
    background-color: rgb(87, 190, 227);
    border-radius: 20px;
}
#display{
    border: none;
    width: 265px;
    height: 80px;
    border-radius: 20px;
    font-size: 40px;
    background-color: rgb(177, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#keys{
    border: 1px  none;
    display: grid;
    margin-top: 10px;
    grid-template-columns: 60px 60px 60px 60px;
    width: 270px;
    grid-gap: 10px;
    
}
button{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(41, 111, 197);
    height: 60px;
    border-radius: 10px;
    font-size: 25px;
    color: white;
}
button:hover{
    box-shadow: none;
}