body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100vh;
    font-family: poppins,sans-serif;
}

#navbar1 {
    background: rgb(251, 73, 163);
    background: linear-gradient(241deg, rgba(251, 73, 163, 0.814805145691089) 33%, rgba(252, 110, 184, 1) 47%, rgba(255, 173, 108, 0.764384977623862) 62%);
  
    border: none;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;

}

.social-media {
    display: flex;
    justify-content: space-around;
    color: white;
}

.social-media>div {
    border: 1px solid white;
    padding: 10px;
}

.contact {
    display: flex;
text-align: center;
justify-content: space-between;
align-items: center;
color: white;
}
.contact>div{
    display: flex;

    border: 1px none;
   
   
    background-color: none;
}
.contact>div>div{
    margin: 10px;
    border: 1px solid;
     height: 27px;
}

button{
    border: none;
    border-radius: 30px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: white;
    font-weight: 600;
}
#navbar2{
   
    margin: 0%;
    padding-left:100px ;
    padding-right: 100px;
    display:  flex;
    justify-content: space-between;
   
}
.logo{
    height: 50px;
    display: flex;
    margin: 0;
    padding: 0%;

}
.logo>p{
    font-weight: 600;
}
.logo>img{
    margin-top: 0px;
    width: 100px;
    height: 50px;
}
.navigations{
    text-align: center;
    display: flex;
gap: 10px;
text-decoration: none;

}

a{ 
   text-decoration: none;
    color: black;
font-weight: 600;

}
a:nth-child(6){
  
    padding: 12px;
    background-color: rgb(255, 196, 0);
}
.navigations>div{
  
    background-color: black;
    color: white;
}
.navigations>div>i{
    margin-top: 10px;
}
a:hover{
    color: rgb(255, 127, 148);
}

.outer{
    padding: 0%;
    margin: 0%;
    border: none;
    width: 100%;
    height: 500px;
    background-image: url(office\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  opacity: 70% ;
backdrop-filter: blur(5px);
display: flex;
align-items: center;
text-align: left;
/* margin-left: 200px; */

}
.bar{
    margin-left: 200px;
    border: 1px solid none;
    width: 8px;
    height: 300px;
    background: rgb(251, 73, 163);
    background: linear-gradient(241deg, rgba(251, 73, 163, 0.814805145691089) 33%, rgba(252, 110, 184, 1) 47%, rgba(255, 173, 108, 0.764384977623862) 62%);
}
.content{
    margin-left: 30px;
   width: 700px;
   text-shadow: 2px 2px 5px black;
}
.content>div>button{
    text-shadow: 2px 2px 5px black;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.content>div>button:hover{
    background: rgb(251, 73, 163);
    background: linear-gradient(241deg, rgba(251, 73, 163, 0.814805145691089) 33%, rgba(252, 110, 184, 1) 47%, rgba(255, 173, 108, 0.764384977623862) 62%);
}

#utilityDiv{
    color: white;
    border: none;
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    background: rgb(251, 73, 163);
    background: linear-gradient(241deg, rgba(251, 73, 163, 0.814805145691089) 33%, rgba(252, 110, 184, 1) 47%, rgba(255, 173, 108, 0.764384977623862) 62%);

}
.utility{
   /* padding: 10px; */
   width: 300px;
border: none;
}
.utility>div{
    display: flex;
}
.utility>div>i{
    margin-top: 10px;
   margin-right: 10px;
}
.utility>div+div{
    margin-top: -20px;
}
.about-us{
    background-image: url(World\ Dotted\ Map\ Design\ Free\ Vector\ File\ Download\ -\ Copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  display: flex;
  margin-top: 80px;

}

.about-us>div{
   
    color: rgb(48, 48, 48);
    width: 500px;
    text-shadow: 2px 2px 5px black;
     margin-left: 100px;
      line-height: 24px;
}
.read{
    
    background: rgb(251, 73, 163);
    background: linear-gradient(241deg, rgba(251, 73, 163, 0.814805145691089) 33%, rgba(252, 110, 184, 1) 47%, rgba(255, 173, 108, 0.764384977623862) 62%);
    border-radius: 20px;
    font-weight: 600;
    color: white;
    border: none;
    padding: 10px;
}
.text{
 background-color: white;
    opacity: 0.9;
    padding: 20px; ;   
}
.text>div{
border: 4px solid;
border-color: rgb(251, 73, 163);
 border-color: linear-gradient(241deg, rgba(251, 73, 163, 0.814805145691089) 33%, rgba(252, 110, 184, 1) 47%, rgba(255, 173, 108, 0.764384977623862) 62%); 
 width: 150px;
}
.image{
 border: 5px solid ;
 height: 50px;
 width: 300px;
 margin-top: 330px;
 margin-left: 100px;
 border-color: rgb(251, 73, 163);
 border-color: linear-gradient(241deg, rgba(251, 73, 163, 0.814805145691089) 33%, rgba(252, 110, 184, 1) 47%, rgba(255, 173, 108, 0.764384977623862) 62%); 
 background-color: none;
}
.image>img{
    width: 400px;
    margin-left: -70px;
    margin-top: -347px;
}
.hr-bar{
    margin-left: 120px;
    margin-bottom: 10px;
    width: 100px;
    height: 4px;
  margin-top: -10px;
   background-color: rgb(251, 73, 163);
 background-color: linear-gradient(241deg, rgba(251, 73, 163, 0.814805145691089) 33%, rgba(252, 110, 184, 1) 47%, rgba(255, 173, 108, 0.764384977623862) 62%); 
}
.services>h1{
    margin-left: 120px;
    background-image: url(World\ Dotted\ Map\ Design\ Free\ Vector\ File\ Download\ -\ Copy.jpg);
}
.containers{
    display: flex;
    border: none;
   gap: 10px;
   align-items: center;
   background-image: url(World\ Dotted\ Map\ Design\ Free\ Vector\ File\ Download\ -\ Copy.jpg);
   opacity: 0.8;
 
}
.containers>div{
    border-radius: 50px;
    margin-left: 120px;
    /* height: 20px; */
    /* border:none; */
    /* background-image: url(World\ Dotted\ Map\ Design\ Free\ Vector\ File\ Download\ -\ Copy.jpg); */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.containers>div>img{
    width: 250px;
    height: 150px;
    border-radius: 10px;
}
.containers>div>div{
  
    margin: none;
    border:none ;
    width: 220px;
    height: 40px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 30px;
    margin-top: -15px;
    overflow: auto;
    z-index: 10px;
    background-color: white;
    position: absolute;
   
   
  
}
.containers>div>div>h3{
    margin-top: 9px;

}
.exp{
    display: flex;
    width: 300px;
}
.exp>div{
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-top: 4px;
    margin-left: 5px;
    background-color: rgb(251, 73, 163);
    background-color: linear-gradient(241deg, rgba(251, 73, 163, 0.814805145691089) 33%, rgba(252, 110, 184, 1) 47%, rgba(255, 173, 108, 0.764384977623862) 62%); 
}